trigger:
  batch: true
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

schedules:
  - cron: '0 0 * * 0'
    displayName: Weekly build
    branches:
      include:
        - main
    always: true

resources:
  repositories:
    - repository: OpsGuildAutomationRepo
      type: git
      name: Engineering/OpsGuild.Automation
      ref: refs/heads/main
    - repository: templates
      type: github
      name: osisoft/OSI-Samples
      endpoint: osisoft/OSI-Samples

variables:
  - template: '/miscellaneous/build_templates/variables.yml@templates'
  - name: CredFile
    value: config.yml
  - name: CredFileLibrary
    value: product-readiness.data_views_r.r
  - name: ComparisonFileInterpolated
    value: interpolatedSampleOutput.csv
  - name: ComparisonFileLibraryInterpolated
    value: product-readiness.ocs_data_views_r.interpolated_output_comparison.csv
  - name: ComparisonFileStored
    value: storedSampleOutput.csv
  - name: ComparisonFileLibraryStored
    value: product-readiness.ocs_data_views_r.stored_output_comparison.csv
  - name: analysisProject
    value: Data_Views_R

jobs:
  - job: Tests
    pool:
      name: 00-OSIManaged-Build
      demands: 
      - SKU -equals VSEnterprise
      - R -equals 4.1.3
    steps:
      - template: '/miscellaneous/build_templates/config.yml@templates'
        parameters:
          fileOriginal: $(CredFile)
          fileLibrary: $(CredFileLibrary)

      - template: '/miscellaneous/build_templates/config.yml@templates'
        parameters:
          fileOriginal: $(ComparisonFileInterpolated)
          fileLibrary: $(ComparisonFileLibraryInterpolated)

      - template: '/miscellaneous/build_templates/config.yml@templates'
        parameters:
          fileOriginal: $(ComparisonFileStored)
          fileLibrary: $(ComparisonFileLibraryStored)

      - script: Rscript.exe run_tests.R
        displayName: 'Run tests'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**\output.xml'
        displayName: 'Publish test results'

  - template: '/miscellaneous/build_templates/code-analysis.yml@templates'
    parameters:
      skipPolaris: true
